{% extends "./layouts/main.html" %}
{% block title %}Gallery page{% endblock %}
{% block content %}
<li class="selected">
    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content" data-page-no="3">
            <div class="row tm-img-gallery">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <a href="../static/img/tm-img-01.jpg">
                        <img src="../static/img/tm-img-01-tn.jpg" alt="Image" class="img-fluid tm-img">
                    </a>
                </div>
                {% for filename in image %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <a href="{{ filename }}">
                        <img src="{{ filename }}" alt="Image" width="267.91" height="210.7" class="img-fluid tm-img">
                    </a>
                </div>
                {% endfor %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <a href="../static/img/tm-img-02.jpg">
                        <img src="../static/img/tm-img-02-tn.jpg" alt="Image" class="img-fluid tm-img">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <a href="../static/img/tm-img-03.jpg">
                        <img src="../static/img/tm-img-03-tn.jpg" alt="Image" class="img-fluid tm-img">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <a href="../static/img/tm-img-04.jpg">
                        <img src="../static/img/tm-img-04-tn.jpg" alt="Image" class="img-fluid tm-img">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <a href="../static/img/tm-img-05.jpg">
                        <img src="../static/img/tm-img-05-tn.jpg" alt="Image" class="img-fluid tm-img">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <a href="../static/img/tm-img-06.jpg">
                        <img src="../static/img/tm-img-06-tn.jpg" alt="Image" class="img-fluid tm-img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>
{% endblock %}